@page "/test"


@inject IToastService toastService


@inject ICategoryService categoryService
@inject IProductService productService
@inject NavigationManager NavigationManager
@inject IToastService toastService

@inject HttpClient Http
@inject ILocalStorageService LocalStorage



<div class="row no-print">
    <div class="col-12">
        <a  @onclick="Test" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
        <button type="button" class="btn btn-success float-right">
            <i class="far fa-credit-card"></i> Submit
            Payment
        </button>
        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
            <i class="fas fa-download"></i> Generate PDF
        </button>
    </div>
</div>




@code {

    void Test()
    {
        NavigationManager.NavigateTo("/print/");
    }


}