@inherits LayoutComponentBase


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                ErrorIcon="fa fa-exclamation"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-thumbs-up"
                ShowProgressBar="true"/>

<div class="dark-mode">
    @Body
</div>

 